@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.logo{
  height: 6vh;
  width: 6vh;
  align-self: baseline;
  
}
.connect_wallet{
  min-width: 80vw;
  text-align: left;
  justify-content:space-between;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  height: 6vh;
}

.title{

  display: flex;
  flex-direction: row;
  
}


.title_text{
  font-family: 'Playfair Display', serif;
  font-size: calc(1.5vh + 2vmin);
  font-weight: bold;
  color: #ffffff;
  margin-top: 1.5vh
}
.wallet{
  margin-top: 1.5vh;
  font-family: 'Roboto', sans-serif;
  font-size: calc(.5vh + 2vmin);
  border-width: 2px;
  float: left;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}


.wallet_connected{
  margin-top: 1.5vh;
  font-family: 'Roboto', sans-serif;
  font-size: calc(.5vh + 2vmin);
  border-width: 2px;
  float: left;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardHolder{
  background-color: #000000;
  border-width: 3px;
  border-color: #ffffff;
}

.card{
  margin: 10%;
  min-width: 30vw;
  background-color: #ffffff;
}

.cardInterface{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  border-radius: 5vw;
}


.top_button{
  font-family: 'Roboto', sans-serif, bold;
  font-size: calc(1vh + 2vmin);
  background-color: #ffffff;
  text-decoration: none;
  border: 0px;
  width:15vw;
  cursor: pointer;
}


.deposit_pool{
  margin-top: 2vh;
}


.strategy_logo{
  width: 5vh;
  height: 5vh;
  margin-top: 1vh;
}

.deposit_token{
  margin-top: 2vh;
}

.menu_item{
  display: flex;
  flex-direction: row;
}

.menu_text{
  margin-left: 1vw;
}

.balance_text{
  font-family: 'Roboto', sans-serif, bold;
  font-size: calc(0.4vh + 2vmin);
  margin-top: 1.5vh;
}

.depositButton{
  font-family: 'Roboto', sans-serif, bold;
  font-size: calc(0.4vh + 2vmin);
  margin-top: 1.5vh;
  background-color: #000000;
  color: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}